#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.project-lifecycle pre {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #f8f8f8;
}

.error {
  color: red;
}

#file-upload {
  display: none;
}

.custom-file-upload {
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}